@use "./base/resolutions.scss" as *;
@use "./base/mixins.scss" as *;
.bookmarks {
  @include wrapper;
  margin-bottom: 2.4rem;

  @include tablet {
    @include wrapperRemove;
    margin-bottom: 3.9rem;
  }

  @include desktopSmall {
    margin-bottom: 4rem;
  }

  &__buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2.5rem;
  }

  &__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
