@use "./base/resolutions.scss" as *;
@use "./base/mixins.scss" as *;

.card {
  &:hover,
  &:focus-within {
    //&:focus-within focus utrzyma się gdy będzie na card, a także wszystkich jego dzieciach
    :global(.video__play-video-container) {
      visibility: visible;
    }
  }

  &__image-container {
    height: clamp(11rem, 7.735rem + 8.707vw, 17.4rem);
    margin-bottom: 0.8rem;
    background-color: var(--c-semi-dark-blue);
    border-radius: 0.8rem;

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: clamp(2.5rem, 0.115rem + 6.361vw, 5rem);
      height: clamp(2.5rem, 0.115rem + 6.361vw, 5rem);
      background-image: url("../images/image-picture.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &.--play-active {
      &:after {
        visibility: hidden;
      }
    }
  }
  &__iframe {
    position: absolute;
    width: 100%;
    height: inherit;
    border: none;
    border-radius: inherit;
  }
  &__image {
    z-index: 2;
    border-radius: inherit;
    height: inherit;
  }

  &__options-buttons {
    position: absolute;
    z-index: 6;
    gap: 0.8rem;
  }

  &__options-buttons {
    right: 0;
    display: grid;
  }

  &__bookmark {
    display: grid;
    place-items: center;
    margin: 0.8rem 0.8rem 0 0;
    padding: 1rem;
    background-color: rgba(var(--c-dark-blue-rgb), 0.5);
    border-radius: 2rem;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
    &:hover,
    &:focus-visible {
      background-color: var(--c-pure-white);
      .card__bookmark-icon path {
        stroke: var(--c-dark-blue);
      }
    }

    &.--active {
      .card__bookmark-icon path {
        fill: var(--c-pure-white);
      }
    }
  }

  &__info-button {
    &:hover,
    &:focus-visible {
      background-color: var(--c-pure-white);
      .card__info-icon path {
        fill: var(--c-dark-blue);
      }
    }

    &.--active {
      .card__info-icon path {
        fill: var(--c-pure-white);
      }
    }
  }

  &__info-items-list {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    color: rgba(var(--c-pure-white-rgba), 0.75);

    @include tablet {
      margin-bottom: 0.5rem;
      font-size: var(--body-f-s);
    }
  }
  &__info-list-item {
    display: flex;
    align-items: center;
    gap: inherit;
    &:not(:last-child)::after {
      content: "";
      display: block;
      width: 0.3rem;
      height: 0.3rem;
      background-color: rgba(var(--c-pure-white-rgba), 0.5);
      border-radius: 1rem;
    }
  }
  &__media-type {
    text-transform: capitalize;
  }
  &__title {
    display: flex;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;

    @include tablet {
      font-size: var(--h-f-xs);
    }
  }
}
