@use "./base/resolutions.scss" as *;
@use "./base/mixins.scss" as *;

.card {
  &:hover,
  &:focus-visible {
    .card__play-video-container {
      visibility: visible;
    }
  }

  &__image-container {
    height: clamp(11rem, 7.735rem + 8.707vw, 17.4rem);
    margin-bottom: 0.8rem;
    background-color: var(--c-semi-dark-blue);
    border-radius: 0.8rem;

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: clamp(2.5rem, 0.115rem + 6.361vw, 5rem);
      height: clamp(2.5rem, 0.115rem + 6.361vw, 5rem);
      background-image: url("../images/image-picture.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &.--play-active {
      &:after {
        visibility: hidden;
      }
    }
  }
  &__iframe {
    position: absolute;
    width: 100%;
    height: inherit;
    border: none;
    border-radius: inherit;
  }
  &__image {
    z-index: 2;
    border-radius: inherit;
    height: inherit;
  }

  &__play-video-container {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    border-radius: inherit;
    visibility: hidden;

    &.--play-active {
      display: none;
    }
  }
  &__play-button-container {
    display: grid;
    place-items: center;
    gap: 1rem;
  }
  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding: 0.9rem;
    border: none;
    border-radius: 2.85rem;
    background-color: rgba(var(--c-pure-white-rgba), 0.25);
    cursor: pointer;
  }
  &__play-icon {
    @include tablet {
      margin-right: 1.9rem;
    }
  }
  &__play-span {
    display: none;
    font-size: var(--h-f-xs);
    font-weight: 500;
    color: var(--c-pure-white);

    @include tablet {
      display: flex;
      margin-right: 2.4rem;
    }
  }
  &__trailer-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    padding: 0.5rem 1.2rem;
    background-color: rgba(var(--c-pure-white-rgba), 0.25);
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  &__options-buttons,
  &__choose-trailer {
    position: absolute;
    z-index: 6;
    gap: 0.8rem;
  }

  &__options-buttons {
    right: 0;
    display: grid;
  }
  &__choose-trailer {
    left: 0;
    display: flex;
    align-items: center;
    padding-block: 0.8rem;
    background-color: rgba(var(--c-dark-blue-rgb), 0.5);
  }
  &__choose-trailer-button {
    background: none;
    border: none;
    cursor: pointer;

    &.--previous {
      transform: rotate(180deg);

      &:active {
        transform: rotate(180deg) scale(1.1);
      }
    }

    &:active {
      transform: scale(1.1);
    }
  }
  &__choose-trailer-number {
    width: 5rem;
    text-align: center;
  }

  &__bookmark {
    display: grid;
    place-items: center;
    margin: 0.8rem 0.8rem 0 0;
    padding: 1rem;
    background-color: rgba(var(--c-dark-blue-rgb), 0.5);
    border-radius: 2rem;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
    &:hover,
    &:focus-visible {
      background-color: var(--c-pure-white);
      .card__bookmark-icon path {
        stroke: var(--c-dark-blue);
      }
    }

    &.--active {
      .card__bookmark-icon path {
        fill: var(--c-pure-white);
      }
    }
  }

  &__info-button,
  &__close-button {
    &:hover,
    &:focus-visible {
      background-color: var(--c-pure-white);
      .card__info-icon path,
      .card__close-icon path {
        fill: var(--c-dark-blue);
      }
    }

    &.--active {
      .card__info-icon path,
      .card__close-icon path {
        fill: var(--c-pure-white);
      }
    }
  }

  &__info-items-list {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    color: rgba(var(--c-pure-white-rgba), 0.75);

    @include tablet {
      margin-bottom: 0.5rem;
      font-size: var(--body-f-s);
    }
  }
  &__info-list-item {
    display: flex;
    align-items: center;
    gap: inherit;
    &:not(:last-child)::after {
      content: "";
      display: block;
      width: 0.3rem;
      height: 0.3rem;
      background-color: rgba(var(--c-pure-white-rgba), 0.5);
      border-radius: 1rem;
    }
  }
  &__media-type {
    text-transform: capitalize;
  }
  &__title {
    display: flex;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;

    @include tablet {
      font-size: var(--h-f-xs);
    }
  }
}
