@use "./base/resolutions.scss" as *;
@use "./base/mixins.scss" as *;

.cardsTopic {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 2.4rem;
  @include wrapper;

  @include tablet {
    @include wrapperRemove;
    margin-bottom: 3.9rem;
  }
  @include desktopSmall {
    margin-bottom: 4rem;
  }
  &__title-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 1.6rem;
    margin-bottom: 2.4rem;

    @include tablet {
      column-gap: 2.4rem;
    }
    @include desktopSmall {
      margin-bottom: 3.2rem;
    }
  }
  &__title {
    flex-grow: 11;
  }

  &__cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);

    @include tablet {
      column-gap: 2.9rem;
      row-gap: 2.4rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @include desktopSmall {
      column-gap: 4rem;
      row-gap: 3.2rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
