@use "./base/resolutions.scss" as *;
@use "./base/mixins.scss" as *;

.header {
  padding-block: 1.8rem;
  margin-bottom: 2.4rem;
  background-color: var(--c-semi-dark-blue);
  z-index: 1;

  @include tablet {
    padding-block: 2.4rem;
    margin-bottom: 3.3rem;
    border-radius: 1rem;
  }

  @include desktopSmall {
    position: sticky;
    top: 0;
    display: flex;
    height: 90vh;
    padding: 3.2rem;
    margin-right: 3.6rem;
    border-radius: 2rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include wrapper;

  @include desktopSmall {
    @include wrapperRemove;
    flex-direction: column;
    justify-content: initial;
  }

  &__home-link {
    @include desktopSmall {
      margin-bottom: 7.5rem;
    }
  }

  &__links-item-list {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    @include desktopSmall {
      flex-direction: column;
    }
  }

  &__links-item {
    &:hover,
    & :focus-visible {
      .nav-icon path {
        fill: var(--c-pure-white);
      }
    }
  }
  &__account {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include tablet {
      gap: 2.4rem;
    }
    @include desktopSmall {
      flex-direction: column;
      margin-top: auto;
    }
  }

  &__login-link {
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--c-greyish-blue);

    &.--avatar-loaded {
      background-color: transparent;
    }
  }

  &__avatar-image {
    border-radius: 50%;
  }

  &__avatar-placeholder {
    width: 1.4rem;
    height: 1.5rem;
    & {
      stroke: var(--c-semi-dark-blue);
    }
    path {
      fill: var(--c-semi-dark-blue);
    }

    @include tablet {
      width: 1.8rem;
      height: 2rem;
    }

    @include desktopSmall {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__logout-button {
    background: none;
    border: none;
  }

  &__logout-icon {
    @include desktopSmall {
      margin-right: 0.8rem;
    }
    & {
      stroke: var(--c-greyish-blue);
    }
    path {
      fill: var(--c-greyish-blue);
    }
    &:hover {
      cursor: pointer;
    }
    &:hover,
    & :focus-visible {
      stroke: var(--c-pure-white);
      path {
        fill: var(--c-pure-white);
      }
    }
  }
}
