.login {
  padding: 2.4rem;
  background-color: var(--c-semi-dark-blue);
  border-radius: 1rem;

  &__heading,
  &__inputs-container {
    margin-bottom: 4rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    border: transparent;
    border-bottom: 1px solid var(--c-greyish-blue);

    &:focus-within {
      outline: transparent;
      caret-color: var(--c-red);
      border-color: var(--c-pure-white);
    }
  }

  &__input {
    flex: 1;
    max-width: 50%;
    padding: 1.8rem 1.6rem;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    color: var(--c-pure-white);

    &::placeholder {
      color: rgba(var(--c-pure-white-rgba), 0.5);
    }
  }

  &__button {
    flex: 1;
    margin-bottom: 2.4rem;
    padding: 1.5rem;
    background-color: var(--c-red);
    color: var(--c-pure-white);
    border: none;
    border-radius: 0.6rem;

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:focus-within {
      background-color: var(--c-pure-white);
      color: var(--c-semi-dark-blue);
    }
  }

  &__link {
    color: var(--c-red);

    &:hover,
    &:focus-within {
      color: var(--c-pure-white);
    }
  }
}
