@use "./base/resolutions.scss" as *;
@use "./base/mixins.scss" as *;

.media {
  display: flex;
  flex-direction: column;
  flex: 1;
  column-gap: 8rem;
  margin-bottom: 4rem;

  @include tablet {
    flex-direction: row;
  }

  &__poster,
  &__title-and-tagline-container,
  &__quick-info,
  &__genre-container,
  &__overview-container,
  &__cast,
  &__rating-container {
    margin-bottom: 2.5rem;
  }

  &__image-container {
    position: relative;
    width: 35rem;
    height: 53rem;
    margin-bottom: 2.5rem;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 10rem;
      height: 10rem;
      background-image: url("../images/image-picture.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }

    @include tablet {
      min-width: 35rem;
      margin-bottom: 0;
    }
  }

  &__image {
    position: relative;
    z-index: 2;
    margin: auto;

    @include tablet {
      border-radius: 0.8rem;
    }
  }

  &__stars-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  &__star {
    width: 3rem;
    height: 3rem;
    &.--full {
      fill: gold;
    }
    &.--half {
      fill: gold;
    }
  }

  &__details {
    @include wrapper;
    flex: 1;

    @include tablet {
      @include wrapperRemove;
    }
  }

  &__title-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  &__tagline-container {
    color: var(--c-greyish-blue);
    span {
      font-size: var(--h-f-xs);
    }
  }

  &__release-date {
    font-size: var(--h-f-l);
    letter-spacing: var(--h-ls-l);
    font-weight: 300;
  }

  &__quick-info,
  &__genre-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__quick-info,
  &__rating-container {
    span {
      padding: 0.5rem;
      border: 0.1rem solid var(--c-pure-white);
      border-radius: 0.8rem;
    }
  }

  &__genre {
    padding: 1rem;
    font-weight: 500;
    background-color: var(--c-semi-dark-blue);
    color: var(--c-greyish-blue);
    border-radius: 0.8rem;
  }

  &__rating-container {
    display: flex;
    align-items: center;
  }

  &__single-chart {
    width: 10rem;
    margin-right: 1rem;
  }

  &__circular-chart {
    display: block;
  }

  &__circle-bg {
    fill: none;
    stroke: var(--c-semi-dark-blue);
    stroke-width: 3.8;
  }

  &__circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  &__circular-chart.red &__circle {
    stroke: red;
  }

  &__circular-chart.orange &__circle {
    stroke: orange;
  }

  &__circular-chart.green &__circle {
    stroke: #4cc790;
  }

  &__percentage {
    fill: var(--c-pure-white);
    font-size: 0.5em;
    text-anchor: middle;
  }

  &__overview-container {
    &__heading {
      margin-bottom: 1.6rem;
    }
  }

  &__cast {
    display: grid;
  }

  &__cast-image-container {
    display: grid;
    place-items: center;
    margin-bottom: 0.5rem;

    &::after {
      content: "";
      display: block;
      background-image: url("../images/user.svg");
      width: 6.4rem;
      height: 6.4rem;
    }
  }

  &__cast-role {
    display: grid;
    gap: 0.5rem;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: initial;
    padding: 1rem 1.6rem;

    &:hover {
      .media__link-icon path {
        fill: var(--c-semi-dark-blue);
        stroke: var(--c-semi-dark-blue);
      }
    }
  }
  &__button-span {
    margin-right: 0.5rem;
  }
  &__link-icon {
    width: 2.8rem;
    height: 2.8rem;
    & path {
      fill: var(--c-pure-white);
      stroke: var(--c-pure-white);
    }
  }
}
