@use "./base/resolutions.scss" as *;
@use "./base/mixins.scss" as *;

.media {
  @include wrapper;
  display: flex;
  flex-direction: column;
  flex: 1;
  column-gap: 8rem;

  @include tablet {
    @include wrapperRemove;
    flex-direction: row;
  }

  &__image-container {
    margin-bottom: 2.5rem;

    @include tablet {
      min-width: 35rem;
      margin-bottom: 0;
    }
  }

  &__stars-container {
    display: flex;
    justify-content: center;
  }

  &__star {
    &.--empty {
      color: var(--c-pure-white);
    }
    &.--full {
      color: gold;
    }
  }

  &__image {
    margin: auto;
  }

  &__cast {
    display: grid;
  }

  &__title-container,
  &__quick-info,
  &__genre-container,
  &__overview-container,
  &__rating-container {
    margin-bottom: 2.5rem;
  }

  &__title-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__release-date {
    font-size: var(--h-f-l);
    letter-spacing: var(--h-ls-l);
    font-weight: 300;
  }

  &__quick-info,
  &__genre-container {
    display: flex;
    gap: 1rem;
  }

  &__genre {
    padding: 1rem;
    font-weight: 500;
    background-color: var(--c-semi-dark-blue);
    color: var(--c-greyish-blue);
    border-radius: 0.8rem;
  }

  &__rating-container {
    display: flex;
    align-items: center;
  }

  &__single-chart {
    width: 10rem;
    margin-right: 1rem;
  }

  &__circular-chart {
    display: block;
  }

  &__circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }

  &__circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  &__circular-chart.red &__circle {
    stroke: red;
  }

  &__circular-chart.orange &__circle {
    stroke: orange;
  }

  &__circular-chart.green &__circle {
    stroke: #4cc790;
  }

  &__percentage {
    fill: var(--c-pure-white);
    font-size: 0.5em;
    text-anchor: middle;
  }
}
