@use "./base/resolutions.scss" as *;
@use "./base/mixins.scss" as *;

.video {
  &__choose-trailer,
  &__options-buttons {
    position: absolute;
    z-index: 6;
    gap: 0.8rem;
  }

  &__choose-trailer {
    left: 0;
    display: flex;
    align-items: center;
    padding-block: 0.8rem;
    background-color: rgba(var(--c-dark-blue-rgb), 0.5);
    border-top-left-radius: 0.8rem;
  }

  &__choose-trailer-button {
    background: none;
    border: none;
    cursor: pointer;

    &.--previous {
      transform: rotate(180deg);

      &:active {
        transform: rotate(180deg) scale(1.1);
      }
    }

    &:active {
      transform: scale(1.1);
    }
  }

  &__choose-trailer-number {
    width: 5rem;
    text-align: center;
  }

  &__options-buttons {
    right: 0;
    display: grid;
  }

  &__info-button,
  &__close-button {
    &:hover,
    &:focus-visible {
      background-color: var(--c-pure-white);
      .video__info-icon path,
      .video__close-icon path {
        fill: var(--c-dark-blue);
      }
    }

    &.--active {
      .video__info-icon path,
      .video__close-icon path {
        fill: var(--c-pure-white);
      }
    }
  }

  &__play-button-container {
    display: grid;
    place-items: center;
    gap: 1rem;
  }

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding: 0.9rem;
    border: none;
    border-radius: 2.85rem;
    background-color: rgba(var(--c-pure-white-rgba), 0.25);
    cursor: pointer;
  }

  &__play-icon {
    &.--modal {
      margin-right: 1.9rem;
    }
    @include tablet {
      margin-right: 1.9rem;
    }
  }
  &__play-span {
    display: none;
    font-size: var(--h-f-xs);
    font-weight: 500;
    color: var(--c-pure-white);

    &.--modal {
      display: flex;
      margin-right: 2.4rem;
    }

    @include tablet {
      display: flex;
      margin-right: 2.4rem;
    }
  }

  &__trailer-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    padding: 0.5rem 1.2rem;
    background-color: rgba(var(--c-pure-white-rgba), 0.25);
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  &__trailer-name-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    display: flex;
    place-items: center;
    font-size: clamp(1.5rem, 0.641rem + 2.29vw, 2.4rem);
    background-color: rgba(var(--c-pure-white-rgba), 0.25);
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;

    @include tablet {
      font-size: var(--h-f-m);
      letter-spacing: var(--h-ls-m);
    }
  }
  &__trailer-name-modal {
    width: 100%;
    height: auto;
    white-space: nowrap;
    padding: 0.5rem 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}
