@use "./base/resolutions.scss" as *;
@use "./base/mixins.scss" as *;

.trending {
  @include wrapper;
  margin-bottom: 2.4rem;
  //65px bierze się z wysokości headingu i jego marginesu
  //clamp jest również używany w CardTrending
  height: calc(6.5rem + clamp(14rem, 5.412rem + 22.901vw, 23rem));

  @include tablet {
    @include wrapperRemove;
    margin-bottom: 3.9rem;
  }

  @include desktopSmall {
    margin-bottom: 4rem;
  }

  &__container {
    position: absolute;
  }
  &__heading {
    margin-bottom: 2.5rem;
  }
  &__swiper {
    display: grid;
  }
}
