h2 {
  font-size: var(--h-f-l);
  letter-spacing: var(--h-ls-l);
  font-weight: 300;
}

h3 {
  font-size: var(--h-f-m);
  font-weight: 300;
}

h4 {
  font-size: var(--h-f-s);
  font-weight: 500;
}

h5 {
  font-size: var(--h-f-xs);
  font-weight: 500;
}

.btn {
  flex: 1;
  background-color: var(--c-red);
  color: var(--c-pure-white);
  border: none;
  border-radius: 0.6rem;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--c-pure-white);
    color: var(--c-semi-dark-blue);
  }
}

.btn-more {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--c-greyish-blue);
  font-weight: 700;
  transition: all 1s ease-in-out;
  &::after,
  &::before {
    content: "";
    position: absolute;
    bottom: 0.75rem;
    display: block;
    width: 0;
    height: 0.1rem;
    background-color: var(--c-pure-white);
    transition: all 0.5s ease-in-out;
  }

  &:before {
    right: 0;
  }

  &:hover,
  &:focus-visible {
    &:after,
    &:before {
      width: 50%;
    }
    color: var(--c-red);
  }
}
