h2 {
  font-size: var(--h-f-l);
  letter-spacing: var(--h-ls-l);
  font-weight: 300;
}

h3 {
  font-size: var(--h-f-m);
  font-weight: 300;
}

h4 {
  font-size: var(--h-f-s);
  font-weight: 500;
}

h5 {
  font-size: var(--h-f-xs);
  font-weight: 500;
}

.btn {
  flex: 1;
  background-color: var(--c-red);
  color: var(--c-pure-white);
  border: none;
  border-radius: 0.6rem;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--c-pure-white);
    color: var(--c-semi-dark-blue);
  }

  &.--short-with-padding {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: initial;
    padding: 1rem 1.6rem;
  }
}

.btn-more {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--c-greyish-blue);
  font-weight: 700;
  transition: all 1s ease-in-out;
  &::after,
  &::before {
    content: "";
    position: absolute;
    bottom: 0.75rem;
    display: block;
    width: 0;
    height: 0.1rem;
    background-color: var(--c-pure-white);
    transition: all 0.5s ease-in-out;
  }

  &:before {
    right: 0;
  }

  &.--redirectLink {
    font-size: var(--h-f-m);
    font-weight: 300;
    &::after,
    &::before {
      bottom: 0rem;
    }
  }

  &:hover,
  &:focus-visible {
    &:after,
    &:before {
      width: 50%;
    }
    color: var(--c-red);
  }
}

.btn-option {
  display: grid;
  place-items: center;
  width: 3.2rem;
  height: 3.2rem;
  margin: 0.8rem 0.8rem 0 0;
  background-color: rgba(var(--c-dark-blue-rgb), 0.5);
  border-radius: 2rem;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
